{% extends "base.html" %}

{% block header %}Ваши объявления{% endblock %}

{% block content %}
{% if object_list %}
<div class="account_list">
    <div class="text white">
        <table class="striped">
            <tr>
                <th>Название</th>
                <th>Статус</th>
                <th>Адрес</th>
                <th>Цена</th>
                <th>Тип</th>
                <th>Скрыть</th>
            </tr>
        {% for object in object_list %}
            <tr>
                <td><a href="{{ object.get_url }}" target="_blank">{{ object }}</a></td>
                <td>{{ object.status_board }}</td>
                <td>{{ object.address }}</td>
                <td width="5%" nowrap="nowrap">{{ object.price }} <i class="fa fa-rub"></i></td>
                <td width="5%">{{ object.type_realty_name }}</td>
                <td width="5%" class="center">
                    {% if object.published %}
                        <a href="{% url 'account_hide' object.pk %}" title="Скрыть объявление с сайта"><i class="fa fa-trash-o"></i></a>
                    {% else %}
                       <a href="{% url 'account_hide' object.pk %}" title="Показать объявление на сайте"><i class="fa fa-eye"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

    {% include 'pagination_include.html' %}

{% else %}
Объявлений пока нет.
{% endif %}

{% endblock %}
